<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div>
  </div>
</div>


<div class="jumbotron">
  <div class="container">

    <form class="form-inline" method="get" role="form">
      <div class="form-group">
        <input type="text" name="query" placeholder="Brunch" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>

    <h1>Whoa!</h1>

    <% if @counts %>
      <ul>
        <% @counts.each do |c| %>
          <li>
            <%= c %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
